* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}
body{
    background-color: #8CA78E;
    margin-left: 130px;
    margin-right: 130px;
}
.imagem_fundo {
    background-image: url('assets/imagem\ fundo\ thailandia.jpg');
    height: 100vh;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.imagem_fundo1 {
    background-image: url('assets/imagem\ fundo\ thailandia1.jpg');
    height: 100vh;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.goldman {
    font-family: "Goldman", sans-serif;
}
.nunito {
    font-family: "Nunito", sans-serif;
}

header {
    background: #EDE1D0;
    padding: 20px 0;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.cabecalho {
    max-width: 1440px;
    height: 159px;
    margin: auto;
    padding: 0 150px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about_titulo{
    font-family: Goldman;
    font-size: 40px;
    color: #FFFFFF;
    font-style: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 54px;

}
.about_texto {
    font-family: Nunito;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 56px;
} 

.logo {
    width: 137px;
    cursor: pointer;
}
.texto{
    font-family: Nunito;
    font-size: 20px;
    color: #FFFFFF;
}
.titulo_ajuda_principal{
    text-align: center;
    margin: 0 auto;
    display: block;
    font-family: Goldman;
    font-size: 70px;
}
.search-box {
    background: #2BA59F;
    width: 298px;
    height: 46px;
    border-radius: 20px;

    display: flex;
    align-items: center;
    padding: 0 15px;
    gap: 10px;
}

.search-box input {
    border: none;
    outline: none;
    background: none;
    color: #fff;
    width: 100%;
}
.icons a {
    font-size: 40px;
    color: inherit;
    text-decoration: none;
}
.icons {
    display: flex;
    align-items: center;
    gap: 35px;
    color: #2BA59F;
    cursor: pointer;
}

.imagem {
    position: relative;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    background-attachment: fixed;   
    background-position: center;    
    background-repeat: no-repeat;  
    background-size: cover;     
}

.titulo {
    text-align: center;
    margin: 0 auto;
    display: block;
    font-family: Goldman;
    font-size: 96px;
}

.detalhes {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 80px 0;
}

.img-camisa {
    background: #EEE1D1;
    border-radius: 40px;
    height: 350px;
    width: 230px;
}

.footer {
    background: #121212;
    color: #dcdcdc;
    padding: 40px 60px 100px;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.footer-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.coluna h3 {
    margin-bottom: 15px;
}

.coluna a {
    display: block;
    margin-bottom: 8px;
    color: #c0c0c0;
    text-decoration: none;
}
.coluna a:hover {
    color: white;
}

.pagar_ {
    margin-left: 9px;
}

.pagar {
    width: 230px;
    height: 100px;
}

.redes_ {
    margin-left: 9px;
}

.redes {
    width: 120px;
    height: 40px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #000;
    padding-top: 65px;
}
.cadastro {
    display: flex;
    background-color: #8CA78E;
    color: #000000;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 230px;

}



.icon-text {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    font-weight: bold;
    gap: 20px;
    border-radius: 20px;
}

.possuiconta {
    display: inline;
    color: #00C8FF;

}

input {
    display: block;
}

.criar-btn {
    font-family: Goldman;
    font-size: 20px;
    width: 250px;
    background-color: #2FDBBC;
    border-color: #2FDBBC;
    color: white;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.perfil {
    background-color: transparent;
    color: #000000;
    font-size: 300px;
    padding-right: 100px;
}

.texto_conta {
    width: 250px;
    background-color: #85FFE9;
    border-color: #85FFE9;
    color: rgb(91, 22, 22);
    border-radius: 5px;
    padding: 6px;
    border: none;
}

.h2 {
    font-size: 50px;
    font-weight: bold;
    font-family: Goldman;
    margin-bottom: 30px;
}

.hr1 {
    margin-top: 120px;
    height: 1px; 
    border: none;
    background: linear-gradient(to right,#8CA78E 0%,#727770 50%,#8CA78E 100%);
}

.hr2 {
    margin-bottom: 150px;
    height: 1px; 
    border: none;
    background: linear-gradient(to right,#8CA78E 0%,#727770 50%,#8CA78E 100%);
}

.linha {
    width: 90%;
    height: 1px;
    background-color: rgba(0,0,0,0.2);
    margin: 10px auto 40px;
}

.container {
    display: flex;
    gap: 40px;
    margin-left: 60px;
    align-items: flex-start;
}

.card-img {
    background: #C9C4A8;
    border-radius: 20px;
    width: 367px;
    display: flex;
    justify-content: center;
    height: 558.38px;
    margin-left: 75px;
}

.card-img img {
    width: 90%;
    border-radius: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-top: 50px;
    font-family: "Nunito", sans-serif;
}


.preco {
    font-size: 50px;
    margin-top: 89px;
    color: white;
}

select {
    margin-top: 48px;
    padding: 10px 20px;
    width: 450px;
    background-color: #85FFE9;
    border-radius: 15px;
    border: none;
    font-size: 33px;
    cursor: pointer;
    color: white;   
}   


.botao {
    margin-top: 60px;
    background-color: #2FDBBC;
    border: none;
    padding: 12px;
    width: 450px;
    color: white;
    font-size: 33px;
    border-radius: 15px;
    cursor: pointer;
    color: white;
}

.favoritar {
    margin-top: 18px;
    display: flex;
    cursor: pointer;
    opacity: 0.5;
    color: white;
    font-size: 100px;
}

.botao_fav {
    font-size: 33px;
    margin-left: 143px;
}

.texto_ajuda {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Nunito;
    font-size: 20px;
}

.cabecalho {
    width: 100%;
    height: 159px;
    max-width: 1440px;
    margin: auto;
    padding: 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 137px;
}

.search-box {
    background: #2BA59F;
    width: 297.72px;
    height: 45.89px;
    border-radius: 20px;

    display: flex;
    align-items: center;
    padding: 0 15px;
    gap: 10px;
}

.search-box input {
    border: none;
    background: none;
    outline: none;
    color: white;
    width: 100%;
}
                                    
.search-icon {
    width: 18px;
}

.icons {
    font-size: 40px;
    display: flex;
    align-items: center;
    gap: 35px;
    color: #2BA59F;
}

.camisadetalhe {
    background: #EEE1D1;   
    border-radius: 40px;
    width: 230px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.img-camisa {
    width: 180px;
    height: auto;
}

.btn-comprar {
    background-color: #8CA78E;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.btn-comprar:hover {
    background-color: #6f8a70;
}
/*AJUDA*/
.top-boxes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
    margin-bottom: 60px;
}
.box-ajuda {
    display: flex;
    background: #e5ddc1;
    border: 2px solid #b6aa8f;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.15);
}
.titulo_ajuda {
    margin: 0;
    font-size: 22px;
}

.texto_ajuda {
    margin: 0;
    font-size: 18px;
    line-height: 1.4;
}
.grid-ajuda {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 60px;
}

.grid-ajuda .box-ajuda {
    width: 260px;
}
.telefone {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-size: 91px;
    cursor: pointer;
}
.numero_telefone {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 104px;
}
/* Produtos */
h1 {
    font-family: "Goldman", sans-serif;
}

.tprodutos {
    font-size: 70px;
    padding-top: 133px;
    padding-left: 140px;
    margin-bottom: 20px;
}

.hr3 {
    margin-bottom: 100px;
    height: 1px; 
    border: none;
    background: linear-gradient(to right,#727770 50%,#8CA78E 100%);
}

.ordenar {
    height: 50px;
    width: 400px;
}

.filtro-select {
    width: 200px;
    padding: 8px;
    border-radius: 8px;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    border: none;
    background-color: #6fd6c3;
    margin-top: 70px;
    margin-left: 141px;
    margin-bottom: 140px;
}

.camisas_ {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding-bottom: 200px;
}

.produto1, .produto2, .produto3, .produto4 {
    width: 250px;
    height: 390px;
    background: #EEE1D1;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
}


.preco {
    display: inline;
    background-color: transparent;
    font-family: "Nunito", sans-serif;
    padding: 4px 8px;
    font-weight: bold;
    border-radius: 6px;
    font-size: 14px;
    margin-right: 120px;
    margin-top: 20px;
}

.preco2 {
    display: inline;
    background-color: transparent;
    font-family: "Nunito", sans-serif;
    color: #a4a7a3;
    padding: 4px 8px;
    font-weight: bold;
    border-radius: 6px;
    font-size: 10px;
    margin-right: 120px;
}

.desconto {
    background-color: #21A360;
    color: white;
    padding: 3px 7px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 130px;
    margin-top: -60px;
    margin-bottom: 10px;
}
.comprar-btn {
    background-color: #8CA78E;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    border: none;
}


.comprar-btn:hover {
    background: #5ac1ae;
}



.produto1 img {
    max-height: 300px; 
    width: auto;
}



.produto3 img {
    max-height: 250px; 
    width: auto;
    margin-top: -30px;
}

.produto4 img {
    max-height: 350px; 
    width: auto;
    margin-bottom: -30px;
}

.imgcamisa {
    width: 200px;       
    height: 200px;     
    object-fit: cover;  
    border-radius: 20px;
}

.imgcamisa1 {
    width: 240px;      
    height: 290px;      
    object-fit: cover; 
    margin-top: -20px;
}

.imgcamisa2 {
    width: 240px;      
    height: 290px;      
    object-fit: cover; 
    margin-top: -30px;
}

.imgcamisa3 {
    width: 240px;      
    height: 260px;      
    object-fit: cover; 
    margin-top: -30px;
}

.imgcamisa6 {
    width: 240px;      
    height: 260px;      
    object-fit: cover; 
    margin-top: -40px;
}

.imgcamisa8 {
    width: 260px;      
    height: 220px;      
    object-fit: cover; 
}

.imgcamisa7 {
    width: 240px;      
    height: 260px;      
    object-fit: cover; 
}


.produto1, .produto2 {
    width: 250px;
    height: 390px;
    background: #EEE1D1;
    border-radius: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-between; 
}

.comprar-btn4 {
    background-color: #8CA78E;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    margin-top: 30px;
}

.comprar-btn5 {
    background-color: #8CA78E;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    margin-top: 20px;
}
.comprar-btn6 {
    background-color: #8CA78E;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    margin-bottom: 40px;
}
.comprar-btn7 {
    background-color: #8CA78E;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    margin-top: 35px;
}
.comprar-btn7 {
    background-color: #8CA78E;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    margin-top: 15px;
}

.comprar-btn0 {
    background-color: #8CA78E;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    margin-top: 40px;
}
.opcao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding: 20px;
    background: #85FFE9;
    opacity: 60%;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* ------------------------- PARTE DO JOHN ------------------------- */


.tcompra {
    font-size: 70px;
    padding-top: 133px;
    padding-left: 140px;
    margin-bottom: 20px;
}

.Compra {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 80px;
    padding-left: 140px;
    padding-bottom: 150px;
}

.camisaproduto {
    width: 300px;
    height: 450px;
    background: #EEE1D1;
    border-radius: 40px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.h2__ {
    padding: 0;
    margin-bottom: 10px;
    font-size: 28px;
    margin-top: 80px;
}

.texto_conta {
    width: 300px;
}

.tamanho {
    font-size: 20px;
    height: 40px;
    width: 320px;
    border-radius: 10px;
}

.btn-comprar__ {
    background-color: #2FDBBC;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    border: none;
}

.precocamisa {
    color: #818480;
}

.comprado {
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center; 
    text-align: center;   
    margin-top: 80px;
    gap: 10px;
}


.mensagem-compra {
    font-size: 16px;
    color: #555;
    align-items: center;   
    justify-content: center; 
    text-align: center;
    display: block;
    margin-top: 43px;
    margin-bottom: 149px;
}


.voltar_ini {
    margin-top: 15px;
    background-color: #2FDBBC;
    padding: 12px 20px;
    color: white;
    align-items: center;   
    justify-content: center; 
    text-align: center; 
    border-radius: 12px;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 200px;
    display: block;
}

.voltar_ini:hover {
    
    background-color: #3dceb3;
   
}